<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="content-header sty-one">
    <h1 class="p-3 pl-4 text-dark">Sales Report</h1>
</div>
<br>
<div class="table-responsive">
    <table class="table table-hover ">
        <thead>
        <tr class="text-left">
            <th scope="col">Id</th>
            <th scope="col">Product</th>
            <th scope="col">Brand</th>
            <th scope="col">Category</th>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
            <th scope="col">Sales Count</th>
            <th scope="col">Revenue</th>
            <th scope="col">Profit</th>
        </tr>
        </thead>
        <tbody>
        
        <tr class="text-center">
            <th scope="row">1</th>
            <td scope="col">jacket super offer</td>
            <td scope="col" >nike-shirts</td>
            <td scope="col" >jacket</td>
            <td scope="col" >11</td>
            <td scope="col" >24</td>
            <td scope="col" >
                                    
                                    1
                                    
                                </td>
             <td scope="col" >
                                
                                 24.0
                                    
                                </td>
            <td scope="col" >
                                    
                                    2.40
                                    

                                </td>
        </tr>
        
        <tr class="text-center">
            <th scope="row">2</th>
            <td scope="col">jacket new offer</td>
            <td scope="col" >nike-shirts</td>
            <td scope="col" >jacket</td>
            <td scope="col" >11</td>
            <td scope="col" >435</td>
            <td scope="col" >
                                    
                                    1
                                    
                                </td>
             <td scope="col" >
                                
                                 435.0
                                    
                                </td>
            <td scope="col" >
                                    
                                    43.50
                                    

                                </td>
        </tr>
        
        <tr class="text-center">
            <th scope="row">3</th>
            <td scope="col">trending jancker</td>
            <td scope="col" >leves</td>
            <td scope="col" >jacket</td>
            <td scope="col" >21</td>
            <td scope="col" >3443</td>
            <td scope="col" >
                                    
                                    5
                                    
                                </td>
             <td scope="col" >
                                
                                 6886.0
                                    
                                </td>
            <td scope="col" >
                                    
                                    688.60
                                    

                                </td>
        </tr>
        
        <tr class="text-center">
            <th scope="row">4</th>
            <td scope="col">jacket</td>
            <td scope="col" >nike-shirts</td>
            <td scope="col" >jacket</td>
            <td scope="col" >10</td>
            <td scope="col" >433</td>
            <td scope="col" >
                                    
                                    1
                                    
                                </td>
             <td scope="col" >
                                
                                 433.0
                                    
                                </td>
            <td scope="col" >
                                    
                                    43.30
                                    

                                </td>
        </tr>
        
        <tr class="text-center">
            <th scope="row">5</th>
            <td scope="col">latest trend pants</td>
            <td scope="col" >leves</td>
            <td scope="col" >pants</td>
            <td scope="col" >9</td>
            <td scope="col" >234</td>
            <td scope="col" >
                                    
                                    1
                                    
                                </td>
             <td scope="col" >
                                
                                 234.0
                                    
                                </td>
            <td scope="col" >
                                    
                                    23.40
                                    

                                </td>
        </tr>
        
        <tr class="text-center">
            <th scope="row">6</th>
            <td scope="col">pants</td>
            <td scope="col" >nike-shirts</td>
            <td scope="col" >pants</td>
            <td scope="col" >1</td>
            <td scope="col" >433</td>
            <td scope="col" >
                                    
                                    3
                                    
                                </td>
             <td scope="col" >
                                
                                 1299.0
                                    
                                </td>
            <td scope="col" >
                                    
                                    129.90
                                    

                                </td>
        </tr>
        
        <tr class="text-center">
            <th scope="row">7</th>
            <td scope="col">new shirt</td>
            <td scope="col" >nike-shirts</td>
            <td scope="col" >shirt</td>
            <td scope="col" >116</td>
            <td scope="col" >759</td>
            <td scope="col" >
                                    
                                    50
                                    
                                </td>
             <td scope="col" >
                                
                                 29601.0
                                    
                                </td>
            <td scope="col" >
                                    
                                    2960.10
                                    

                                </td>
        </tr>
        
        </tbody>
    </table>
</div>


</body>
</html>