{% load static %}
{% static 'images' as baseUrl %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'table_css/fonts/icomoon/style.css' %}">  

    <link rel="stylesheet" href="{% static 'table_css/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'table_css/css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'table_css/css/style.css' %}">
 {% if title %}
    <title>{{ title }}</title>
  {% endif %}
  </head>
  <body>
  

  <div class="content">
    
    {% block content %}
    {% endblock %}

  </div>
    
    

    <script src="{% static 'table_css/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'table_css/js/popper.min.js' %}"></script>
    <script src="{% static 'table_css/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'table_css/js/main.js' %}"></script>
  </body>
</html>